/* Css for the Nav Bar and the center image */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    color: white;
    position: relative;
    z-index: 1;
}

nav div {
    display: flex;
    align-items: center;
  
}
/* Link on the Website Name */
nav div a {
    text-decoration: none;
    z-index: 1;
    color: white;
}
nav h3 {
   margin-left: 4rem;
    font-size: 2.5rem;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.683);
    z-index: 1;
}

nav img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;
    z-index: 1;
}

nav button {
    background-color: white;
    border: none;
    padding: 1vw 1.3vw;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1;
}

nav button a {
    text-decoration: none;
    color: rgb(255, 1, 137);
    font-size: 1rem;
}

nav button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
/* Center homepage image */
.homepageImage{
    width: 60%;
    margin-top: 0;
}

/* The wave format css */
.wave {
    position: absolute;
    bottom: -1px; /* Slight overlap to remove gaps */
    left: 0;
    top:0;
    width: 100%;
    height: auto;
    transform: rotate(180deg);
}
/* The nav bar becomes straigh in the smal screen size */
@media screen and (max-width: 980px) {
    .wave{
        display: none;
    }
    nav h3{
        margin:0;
        font-size: 20px;
    }
    nav img{
        display: none;
    }
    nav{
        background-color:#fa60a5d5; ;
    }

}
     
/* Useful step, learned new thing,  font-size: clamp(8px, 1.5vw, 18px); */