nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    color: white;
    position: relative;
    z-index: 1;
}

nav div {
    display: flex;
    align-items: center;
  
}
nav div a {
    text-decoration: none;
    z-index: 1;
    color: white;
}
nav h3 {
   margin-left: 4rem;
    font-size: 2.5rem;
    font-family:cursive;
    z-index: 1;
}

nav img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;
    z-index: 1;
}

nav button {
    background-color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1;
}

nav button a {
    text-decoration: none;
    color: rgb(255, 1, 137);
    font-size: 1rem;
}

nav button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.homepageImage{
    width: 60%;
    margin-top: 0;
}


.wave {
    position: absolute;
    bottom: -1px; /* Slight overlap to remove gaps */
    left: 0;
    top:0;
    width: 100%;
    height: auto;
    transform: rotate(180deg);
}